@import url("https://fonts.googleapis.com/css2?family=Alata&family=Amatic+SC:wght@400;700&family=EB+Garamond:wght@500&family=Passion+One:wght@400;700;900&family=Playfair+Display:wght@500&family=Protest+Riot&display=swap");

/* 1266 768 */
* {
  margin: 0;
  padding: 0;
  /* color: black; */

  color: white;
  font-family: "Alata";
}

body {
  display: flex;

  margin: 0;
  padding: 0;
  /* background-image: url("/day_anime.jpg"); */
  background-image: url("/night_anime_darker1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: rgba(89, 124, 148, 0.97); */
  background-position: center;
}

/* Header content */
header {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  /* opacity: 0.6; */
  margin: 0;
  height: 50px;

  background-color: rgb(6, 5, 12);
}

.city_search {
  margin: 1px;
  padding-left: 10px;
  height: 29px;
  border-radius: 8px;
  align-self: center;
  background-color: rgb(208, 212, 215);
  color: #363948;
  outline: none;
}

.search_btn {
  margin-right: 2%;
  border-radius: 5px;
  font-size: 24px;
  background-color: #478d9d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

.search_btn:hover {
  background-color: #45a08b;
}
/* Main Content */
#main {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 90px 0;
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  /* background-color: #45a08b; */
}
.main_info_conteiner {
  margin-right: 5vw;
  width: 30vw;
  min-width: 300px;
  align-self: flex-end;
  height: 270px;
  /* background-color: #478d9d; */
}

#main_weather_conteiner {
  display: flex;
  flex-direction: column;
  width: 34vw;
  align-self: flex-end;
  min-width: 57vh;
  height: 78vh;

  overflow: hidden;
  bottom: 10px;
  box-sizing: border-box;
  /* background-color: #478d9d; */
}

.week_weather_container,
.hourly_weather_conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  margin: 2px;
  padding: 4%;
  background-color: rgba(33, 10, 24, 0.369);
  backdrop-filter: blur(9px);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

  width: 92%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.hourly_weather_conteiner {
  height: calc(35% - 10px); /* Adjust the height as needed */
}
.week_weather_container {
  margin-top: 10px;
  height: calc(65% - 10px); /* Adjust the height as needed */
}

.main_info_row1,
.main_info_row2,
.main_info_row3 {
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  width: 100%;
  color: white;
}

.main_info_row1 {
  height: 65%;
  text-align: center;
  /* padding: 20px 0 0 0; */
}

.main_info_temp {
  font-size: 13.8vmin;

  /* font-family: "Alata"; */
}

.main_info_celcius {
  font-size: 45px;
  padding: 0 0 10vh 0;
  /* font-family: "Alata"; */
}
.main_info_cur_weather {
  /* font-size: 110px; */
  width: 80px;
  height: auto;
  padding-bottom: 5vh;
  margin-left: 40px;
}

.main_info_row2 {
  height: 20%;
  margin: 0;
  font-size: 70px;
  /* font-family: "Alata"; */
  padding-left: 15px;

  font-weight: 1000;
}
.main_info_row3 {
  height: 15%;
  font-size: 24px;
  padding-left: 15px;
  font-family: "Alata";
}
.main_info_highes_temp,
.main_info_lowest_temp {
  margin-left: 10px;
}

/* Weather container | Right side */
/* Hourly */
.weather_text_prediction,
.days_text_prediction {
  padding-left: 10px;
  font-size: 2vmin;
}
.custom-line {
  border: none;
  margin: 0.6% 0;
  height: 2px; /* Adjust the height/thickness of the line */
  background-color: #b5b6bd; /* Adjust the color of the line */
  width: 100%; /* Adjust the width of the line */
}

#hourly_container {
  display: flex;
  justify-content: space-around;
  font-size: 2.2vmin;
  height: 14vh;
  align-items: center;
  box-sizing: border-box;
}

/* @media screen and (min-width: 600px) {
  #hourly_container {
    font-size: 1.5vw;
  }
} */
.hourly_col {
  text-align: center;
}
.hourly_weather_symbol {
  width: 26px;
  padding: 1vmin 0;
  height: 26px;
}
/* .hourly_temperature {
  display: flex;
  text-align: center;
  flex-direction: row;
} */

.celsius,
.weekly_celsius {
  font-size: 12px;
}
/* Weekly */
#weekly_row {
  padding: 0;
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 2vmin;
}
.weekly_day {
  min-width: 5vw;
}
.weekly_weather_symbol {
  /* font-size: 2vmin; */
  width: 28px;
  height: auto;
}
.weekly_temperature_min,
.weekly_temperature_max {
  display: flex;
}

/* Slider */
.temperature-slider {
  width: 30%;
  max-width: 150px;
  text-align: center;
}

input[type="range"] {
  width: 100%;
  /* background: transparent; */

  /* margin-top: 20px; */
  appearance: none;
  height: 5px;
  background-color: #ddd;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    rgb(57, 182, 207) 0%,
    rgb(231, 182, 83) 50%,
    white 50%,
    white 100%
  );
  border-radius: 5px;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  height: 0;
  width: 0;
}

.hidden {
  display: none;
}
/* 
img {
  width: 20px;
  height: 20px;
} */

.now {
  margin: 0;
  height: 25px;
  width: 48px;
  background-color: #ff00c8;
  margin-top: 3vmin;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-size: 1.5vmin;
}
